[submodule "plugins/tmux-sensible"]
	path = plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible.git
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "plugins/tmux-scroll-copy-mode"]
	path = plugins/tmux-scroll-copy-mode
	url = https://git::@github.com/nhdaly/tmux-scroll-copy-mode
[submodule "plugins/tmux-sidebar"]
	path = plugins/tmux-sidebar
	url = https://git::@github.com/tmux-plugins/tmux-sidebar
[submodule "plugins/tmux-resurrect"]
	path = plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
